<div class="container">
    <div class="row">
        <table class="table table-hover">
            <!-- <thead>
                <th>Story Title - Author</th>
                <th>Date</th>
                <th>Operations</th>
            </thead> -->
            <tbody>
                <tr *ngFor="let hn of hackerNewsService.hackerNews;">
                    <td (click)="selectClickedRow(hn.url)">{{ hn.title }} -<a href="#">{{ hn.author }}</a>-</td>
                    <td>{{ hn.created_at | date:'MMMM - dd'}}</td>
                    <td>
                        <a (click)="deleteNews(hn)">
                            <i class="material-icons">delete</i>
                        </a>
                    </td>
                </tr>
            </tbody> 
        </table>
    </div>
</div>
    