<mat-toolbar color="primary">
  <h1 style="font-size: 80px; margin-top: 30px;">HN Feed</h1>
</mat-toolbar>
<mat-toolbar color="primary">
  <span>We love hacker news!</span>
</mat-toolbar>
<app-hacker-news></app-hacker-news>
